<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://batterymotormonitor.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>batterymotormonitor.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BatteryMotorMonitor</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$BatteryMotorMonitor</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BatteryDatabaseEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=iotbatterydatabase.database.windows.net;Initial Catalog=IoTBatteryDatabase;Persist Security Info=True;User ID=RunFranks525;Password=1048Boston;Application Name=EntityFramework" Name="Data Source=iotbatterydatabase.database.windows.net;Initial Catalog=IoTBatteryDatabase;Persist Security Info=True;User ID=RunFranks525;Password=1048Boston;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BatteryWebApp.Models.BatteryDatabaseEntities, BatteryWebApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=iotbatterydatabase.database.windows.net;Initial Catalog=IoTBatteryDatabase;Persist Security Info=True;User ID=RunFranks525;Password=1048Boston;Application Name=EntityFramework" Name="Data Source=iotbatterydatabase.database.windows.net;Initial Catalog=IoTBatteryDatabase;Persist Security Info=True;User ID=RunFranks525;Password=1048Boston;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BatteryWebApp.Models.ApplicationDbContext, BatteryWebApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=iotbatterydatabase.database.windows.net;Initial Catalog=IoTBatteryDatabase;Persist Security Info=True;User ID=RunFranks525;Password=1048Boston;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="BatteryDatabaseEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.BatterySensorData.csdl|res://*/Models.BatterySensorData.ssdl|res://*/Models.BatterySensorData.msl;provider=System.Data.SqlClient;provider connection string="Data Source=iotbatterydatabase.database.windows.net;Initial Catalog=IoTBatteryDatabase;Persist Security Info=True;User ID=RunFranks525;Password=1048Boston;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>